/* .navbarContainer{
    display: flex;
    background-color: black;
    padding: 1%;
}

.navbarImageContainer{
    width: 10%;
}

.navbarContainer li a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}


.navbarImageContainer img{
    height: auto;
    width: 100%;
}


.searchBarContainer{
    display: flex;
    align-items: center;
}

.inputSearchNavbar{
    background-color: black;
}

.logosContainer{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}
 */


.navbarBootstrap{
    background-color: black;
    padding: 4% 0;
    height: 10vh;
    color: white;
}

.logoNavbar{
    height: auto;
    width: 8vw;
    margin-top: 2%;
    margin-left: 2%;
}

.navbarBootstrap ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
}

.buttonNavbarLeft{
    color: white;
    font-size: 2rem;
}

form{
    width: 30%;
}

form .inputSearchNavbar{
    height: 40px;
    margin-top: 2%;
}

.navbarBootstrap a{
    color: white;
    text-transform: uppercase;
    margin: 0 1%;
    font-size: 1.3rem;
    font-weight: 100;
}

.inputSearchNavbar{
    background-color: black;
    border-color: white;
    border-radius: 2cm;
}

.formNavbar{
    margin-right: 5%;
}

body{
    background: green
    
}

section{
    height: 100vh;
}

footer img{
    height: 10%;
    width: 10%;
}

footer{
    width: 45w;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding-bottom: 2%;
    background-color: black;

}

footer .footerImageContainer{
    text-align: center;
    width: 100vw !important;
    height:auto;
    max-width:100%;
    max-height: fit-content !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 4.6%;
    padding-left: 5%;
}

.footerInfoContainer{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;    
    position: relative;
   
}

.footerEtiquetasA a{
    text-decoration: none;
    font-size: 1.2vw;
    text-align: center;
    color: white;
    width: fit-content;
}

.containerLogos{
    color: white;
    align-items: center;

}

.containerLogos i {
    font-size: 1.5vw; 
}


.footerMail{
    color: white;
    align-items: center;
}

.footerMail i {
    font-size: 1.5vw; 
}